
.Rhistory
.DS_Store
____zz_tablewrangling_unused_saved_stuff/.DS_Store
__Public/.DS_Store
.Rhistory
.DS_Store
____Unpublished__ProjectKaskan/.Rhistory
____Unpublished__ProjectKaskan/.Rhistory
HerculanoHouzel_etal_2020/.RData
____Unpublished__ProjectKaskan/.Rhistory
____Unpublished__ProjectKaskan/.Rhistory
